html {
	font-size: 12px;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, Oxygen, Avenir, 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn-default {
	border: 1px solid rgba(0,0,0,.1);
}

.card {
	border: 1px solid rgba(0,0,0,0);
}

blockquote p {
	font-style: italic;
	margin-bottom: 0.5rem;
}

cite a {
	color: #6c757d !important;
}
